{% extends 'deals/header.html' %}

{% block content %}

	{% load static %}
	<section class="hero-section set-bg" id="home_bg" data-setbg="{% static 'deals/img/computer.jpg' %}">
		<div class="container">
			<div class="hero-warp">
				<form class="main-search-form" method="POST">
					{% csrf_token %}
					<div class="search-type">
						<div class="st-item">
							<input type="radio" name="st" id="tech" checked onclick="tech_clicked()">
							<label for="tech">Tech</label>
						</div>
						<div class="st-item">
							<input type="radio" name="st" id="clothing" onclick="clothing_clicked()">
							<label for="clothing">Clothing</label>
						</div>
					</div>
					<div class="search-input">
						<input type="text" placeholder="Search by keyword..." id="search_term">
						<button type="submit" class="btn btn-danger" onclick="search_function()">Search for deals</button>
						<button type="submit" class="btn btn-warning">Feeling Lucky</button>
					</div>
					<p>We take your keyword and automatically search on many platforms to find you the best deals on the market!</p>
				</form>
			</div>
		</div>
	</section>

{% endblock %}
